body{
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0px;
}
@media (min-width: 650px){
  .App{
    width: 640px;
  }
}
@media (max-width: 650px){
  .App{
    width:90vw;
  }
}
#root{
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 9px 0px 
}
.App{
  min-height: 100vh;
  padding: 0 20px;
  
}

/* MyButton */
.MyButton{
  cursor: pointer;
  border: none;
  border-radius: 5px;

  padding: 10px 20px;
  font-size: 18px;
  white-space: nowrap;
  /* 글자 잘림 방지 (너무길어서 두줄되는거 방지)*/
}
.MyButton_default{
  background-color: #ececec;
  color:black;
}
.MyButton_positive{
  background-color: #64c964;
  color:white;
}
.MyButton_negative{
  background-color: #fd565f;
  color:white;
}

/* HEADER */

header{
  padding:20px 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header> div{
  display: flex;
}
header .head_text{
  width: 50%;
  font-size: 25px;
  justify-content: center;
}
header .head_btn_left{
  width: 25%;
  justify-content: start;
}
header .head_btn_right{
  width: 25%;
  justify-content: end;
}