.DiaryEditor{
    text-align: center;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
}
.DiaryEditor input, textarea{
   width: 500px;
   margin-bottom: 20px;
   padding: 10px;
}
.DiaryEditor button{
    width: 150px;
}

/* 리스트 */
.DiaryList{
    border: 1px solid gray;
    padding: 20px;
    margin-top: 20px;
}
.DiaryList h2{
    text-align: center;
}

/* 다이어리 아이템 */
.DiaryItem{
    background-color: rgb(240, 240, 240);
    margin-bottom: 10px;
    padding: 20px;
}
.DiaryItem .info{
    border-bottom: 1px solid gray;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.DiaryItem .date{
    color: gray;
    font-size: 12px;
}
.DiaryItem .button{
    margin-top: 10px;
    cursor: pointer;
}
